<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.Lib.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.dotImage.Ocr.GlyphReader.Resources" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.dotImage.Ocr.GlyphReader.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.dotImage.Ocr.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.dotImage.PdfDoc.Bridge.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.dotImage.PdfReader.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.dotImage.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.PdfDoc.x86" version="11.1.0.321" targetFramework="net45" />
  <package id="Atalasoft.Shared" version="11.1.0.321" targetFramework="net45" />
</packages>